/** @format */

.container {
  display: flex;
  width: 100%;
  justify-content: center;

  .alert {
    z-index: 999;
    position: fixed;
    height: 60px;
    background: #a97590;
    top: 20px;
    width: 300px;
    transition: all 0.2s ease-in-out;
  }
  h3 {
    color: #fdecef;
    text-align: center;
  }
}
