/** @format */

.gallery {
  -webkit-column-count: 3;
  -webkit-column-gap: 5px;
  -moz-column-count: 3;
  -moz-column-gap: 5px;
  column-count: 3;
  column-gap: 5px;

  img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 3px !important;
    opacity: 1;
    &:hover {
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }
  }
}

@media (max-width: 992px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 600px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

.designSection {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  h1 {
    font-weight: 400;
  }
}
