/** @format */

.container {
  background: #0f110c;
  padding: 2rem 10rem;
  color: #cecccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    li {
      padding-right: 1rem;
    }
  }
}

@media (max-width: 992px) {
  .container {
    padding: 2rem 4rem;
  }
}
