/** @format */
@use "modules";
@use "mixin";

.container {
  background-color: modules.$color-black;
  padding-top: modules.$xxl-pad-inner;

  ul {
    color: modules.$color-gray;
    display: flex;
    flex-direction: row;
    list-style: none;
    a {
      padding-right: modules.$sm-pad-inner;
      font-size: modules.$text-size-primary;
    }
  }
}

.content {
  @include mixin.rwd();
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .title {
    @include mixin.largeTitle();
  }
  .contact {
    padding: 100px 0;
    span {
      border: 1px solid modules.$color-gray;
      padding: modules.$sm-pad-inner modules.$md-pad-inner;
      color: modules.$color-white;
      border-radius: 40px;
    }
  }
}
.footerBottom {
  margin-top: 100px;
  @include mixin.rwd();
  display: flex;
  justify-content: center;
  justify-content: space-between;
  @include mixin.extraSmallDevices {
    flex-direction: column;
  }
  @include mixin.smallDevices {
    flex-direction: column;
  }
  @include mixin.mediumDevices {
    flex-direction: column;
  }
  @include mixin.largeDevices {
    flex-direction: row;
    justify-content: space-between;
  }
}

.copyRight {
  color: modules.$color-gray;
  font-size: modules.$text-size-primary;
  padding-bottom: modules.$xl-pad-inner;
}
