/** @format */

html,
body {
  padding: 0;
  margin: 0;
  font-family: --font-inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  position: relative;
  height: 100%;
}

.container {
  background-color: #fff;
}

h3 {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  cursor: none !important;
  margin: 0;
  padding: 0;
  border: 0;
}

input[type="text"],
input[type="password"],
textarea,
select {
  outline: none;
}
