/** @format */

// // Dark Colors
$color-primary: #ff4004;
$color-black: #000;
$color-white: #fff;
$color-gray: gray;
$color-lime: lime;

// $color-orange-400-10: hsla(27, 100%, 79%, .1);
// $color-orange-400-50: hsla(27, 100%, 79%, .5);
// $color-charcoal-400: hsl(0, 0%, 2%);
// $color-charcoal-400-10: hsla(0, 0%, 2%, .1);
// $color-charcoal-300: hsl(0, 0%, 11%);
// $color-green-400: hsl(105, 100%, 75%);
// $color-green-400-10: hsla(109, 100%, 77%, .1);
// $color-dirtwhite-400: hsl(60, 36%, 96%);
// $color-dirtwhite-400-30: hsla(60, 36%, 96%, .3);

// // Light Colors
// $color-linen-400: hsl(30, 58%, 93%);
// $color-linen-500: hsl(33, 45%, 87%);
// $color-linen-500-10: hsla(33, 45%, 87%, .1);
// $color-oil-400: hsl(32, 29%, 10%);
// $color-oil-400-30: hsla(32, 29%, 10%, .3);
// $color-darkpurple-400: hsl(266, 45%, 59%);
// $color-darkpurple-400-10: hsla(266, 45%, 59%, .1);
// $color-darkpurple-400-50: hsla(266, 45%, 59%, .5);
// $color-rose-400: hsl(353, 54%, 55%);
// $color-rose-400-10: hsla(353, 54%, 55%, .1);

//font
$text-size-xsmall: 12px;
$text-size-small: 14px;
$text-size-primary: 16px;
$text-size-medium: 18px;
$text-size-emphasize: 22px;
$text-size-lg: 40px;

$text-size-xl: 80px;

$text-header: 14px;
$font-body-strong-weight: 600;
$font-body-regular-weight: 500;
$font-body-light-weight: 400;

$sm-pad-inner: 16px;
$md-pad-inner: 24px;
$lg-pad-inner: 40px;
$xl-pad-inner: 52px;
$xxl-pad-inner: 72px;
$xxxl-pad-inner: 80px;
