/** @format */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 10rem;
  position: absolute;
  width: 100%;
  align-items: center;
  ul {
    margin: 0;
    display: flex;
    list-style: none;
    color: #f2efe6;
    li {
      list-style: none;
      cursor: pointer;
      h4 {
        margin: 0 10px;
        display: inline-block;
        font-weight: 400;
      }
    }
  }
}

.logo {
  width: 80px;
  height: 80px;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 2rem 1rem;
  }
}
