/** @format */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 2rem;
  position: absolute;
  width: 100%;
  align-items: center;
  ul {
    margin: 0;
    display: flex;
    list-style: none;
    color: #fff;
    li {
      list-style: none;
      cursor: pointer;
      h4 {
        margin: 0 10px;
        display: inline-block;
        font-weight: 500;

        &:hover {
          color: #a97590;
        }
      }
    }
  }
}

.logo {
  max-width: 10% !important;
}
