/** @format */

@use "modules";
@use "mixin";

.title1 {
  @include mixin.title();
  @include mixin.rwd();
}
.container {
  display: flex;
  flex-wrap: wrap;
  @include mixin.rwd();
}
.column {
  margin-bottom: modules.$md-pad-inner;
  .containerWrapper {
    display: block;
  }
  @include mixin.extraSmallDevices() {
    width: calc(100% / 12 * 12);
  }
  @include mixin.smallDevices() {
    width: calc(100% / 12 * 12);
  }
  @include mixin.largeDevices() {
    width: calc(100% / 12 * 6);
  }
}
.column:nth-child(odd) {
  padding-right: 10px;
}
.column:nth-child(even) {
  padding-left: 10px;
}
.scroll {
  position: relative;
  width: 100vw;
  height: 15%;
  overflow: hidden;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.mscroll {
  overflow: hidden;
  height: 100%;
  white-space: nowrap;
  animation: scrollText 80s infinite linear;
  margin: 0;
  font-size: 0;
  display: inline-block;
  span {
    font-size: 50px;
    display: inline-block;
    min-width: 100vw;
    margin: 0;
    padding: 10px;
    font-weight: 500;
  }
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.box {
  transition: all 0.5s ease-in-out;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  @include mixin.extraSmallDevices {
    height: 200px;
  }
  @include mixin.smallDevices {
    height: 300px;
  }
  @include mixin.mediumDevices {
    height: 450px;
  }
}

.imageBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: transform 0.3s;
}

.imageTitle {
  z-index: 99;
  display: flex;
  justify-content: center;
  span {
    background-color: modules.$color-black;
    width: auto;
    padding: 10px 10px;
    border-radius: 20px;
    color: modules.$color-white;
    display: flex;
    img {
      fill: modules.$color-white;
    }
  }
}

.description {
  display: flex;

  justify-content: space-between;
  padding-top: modules.$sm-pad-inner;
  align-items: center;

  p {
    font-size: modules.$text-size-medium;
    font-weight: 500;
  }
  span {
    color: modules.$color-gray;
    font-size: modules.$text-size-small;
  }
  @include mixin.extraSmallDevices {
    flex-direction: column;
  }
  @include mixin.smallDevices {
    flex-direction: column;
  }
  @include mixin.mediumDevices {
    flex-direction: row;
  }
}
