/** @format */
@use "modules";
@use "mixin";

.title {
  width: 60%;
  padding: 80px 0;
  font-weight: 300;
  color: modules.$color-white;
  @include mixin.extraSmallDevices {
    font-size: 15vw;
  }
  @include mixin.smallDevices {
    font-size: 15vw;
  }
  @include mixin.mediumDevices {
    font-size: 80px;
  }
  @include mixin.largeDevices {
    font-size: 100px;
  }
}

.wrapper {
  @include mixin.rwd();

  background-color: modules.$color-black;
  position: relative;

  .coverimg {
    width: 100%;
    object-position: 50% 30%;
    object-fit: cover;
    @include mixin.extraSmallDevices {
      height: 400px;
    }
    @include mixin.smallDevices {
      height: 400px;
    }
    @include mixin.mediumDevices {
      height: 600px;
    }
    @include mixin.largeDevices {
      height: 800px;
    }
  }
  .divide {
    padding: 4rem 0 !important;
    color: modules.$color-white;
    display: grid;
    grid-gap: 50px;
    @include mixin.extraSmallDevices {
      grid-template-columns: 1fr;
    }
    @include mixin.smallDevices {
      grid-template-columns: 1fr;
    }
    @include mixin.mediumDevices {
      grid-template-columns: 1fr 2fr;
    }

    p {
      font-weight: 300;

      @include mixin.extraSmallDevices {
        font-size: 22px;
        line-height: 2rem;
      }
      @include mixin.smallDevices {
        font-size: 22px;
        line-height: 2rem;
      }
      @include mixin.mediumDevices {
        font-size: 32px;
        line-height: 3.5rem;
      }
    }
    .combineTitle {
      display: flex;
      flex-direction: row;
      gap: 40px;
    }
    .subTitle {
      display: flex;
      flex-direction: column;
      h3 {
        margin-top: 0;
        color: modules.$color-gray;
        font-size: 14px;
        font-weight: 400;
      }
      span {
        font-size: 20px;
        padding-top: 10px;
      }
    }

    ul {
      padding-top: 40px;
    }
    li {
      display: block;
      counter-increment: items;
      font-weight: 300;
      @include mixin.extraSmallDevices {
        font-size: 22px;
        line-height: 2rem;
      }
      @include mixin.smallDevices {
        font-size: 22px;
        line-height: 2rem;
      }
      @include mixin.mediumDevices {
        font-size: 32px;
        line-height: 3.5rem;
      }
    }
    li:before {
      content: "0" counter(items);
      color: modules.$color-gray;
      vertical-align: text-bottom;
      padding-right: 15px;
      @include mixin.extraSmallDevices {
        font-size: 16px;
      }
      @include mixin.smallDevices {
        font-size: 16px;
      }
      @include mixin.mediumDevices {
        font-size: 20px;
      }
    }
  }
  .singleImage,
  .gif {
    width: 100%;
    height: auto;
  }
}

.imageSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.caseStudyContainer {
  color: modules.$color-white;
  padding: 100px 0;
  h2 {
    font-size: 32px;
    font-weight: 300;
    line-height: 3.5rem;
  }
  .content {
    display: grid;

    grid-gap: 20px;
    padding: 50px 0 80px 0;

    @include mixin.extraSmallDevices {
      grid-template-columns: repeat(1, 1fr);
    }
    @include mixin.smallDevices {
      grid-template-columns: repeat(1, 1fr);
    }
    @include mixin.mediumDevices {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mixin.largeDevices {
      grid-template-columns: repeat(3, 1fr);
    }

    .link {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .box {
        transition: all 0.5s ease-in-out;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        overflow: hidden;

        @include mixin.extraSmallDevices {
          height: 200px;
        }
        @include mixin.smallDevices {
          height: 200px;
        }
        @include mixin.mediumDevices {
          height: 350px;
        }
      }

      .imageBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        transition: transform 0.3s;
        object-fit: cover;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    h3 {
      font-size: 20px;
      font-weight: 400;
    }
  }
}
